@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace d20.DiceRoller.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="d20.DiceRoller.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
